@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #00060e;
    font-family: 'Archivo', sans-serif;
    color: aliceblue;
}

/* Scrollbar personalizada */

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: rgb(0, 1, 15);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(62, 180, 189);
    border-radius: 5px;
}

/* Botão voltar ao topo*/

.btn-fixed {
    position: fixed;
    bottom: 20px;
    right: 10px;
    visibility: hidden;
}

.btn-fixed.visible {
    visibility: visible;
}

.material-symbols-outlined {
    color: rgb(207, 222, 228);
    padding: 0.4em;
    border-radius: 5px;
    background-color: #031f2c;
}


/* Cabecalho */

.back-foto {
    background: url(img/back-banner.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    box-shadow: inset 0px -26px 26px #00080e;
}

.logo {
    font-size: 1.6em;
    font-weight: bold;
    background: linear-gradient(90deg, #84CABD 16.84%, #2D7255 95.41%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    background: rgba(13, 13, 14, 0.466);
    align-items: center;
    justify-content: space-between;
    padding: 1.4% 5em;
    box-shadow: 0px 21px 21px #000000;
}

nav {
    display: flex;
    gap: 70px;
    font-weight: 400;
}

.cabecalho a {
    text-decoration: none;
    color: rgb(210, 217, 224);
    transition: 0.5s;
    font-size: 1.1em;
}

.cabecalho a:hover {
    color: rgb(59, 180, 189);
}


/* ------------------  Banner  --------------*/

.banner {
    display: flex;
    align-items: center;
    height: 95vh;
}

.banner-conteudo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    margin-left: 5em;
}

.banner-conteudo p {
    font-weight: 300;
}

.banner-conteudo h1 {
    border-right: 3px solid rgba(255, 255, 255, 0.75);
    font-size: 3.2em;
    animation: blinkCursor 1s steps(40) infinite normal,
        typing 2.5s steps(40) 1s normal both;
    overflow: hidden;
    white-space: nowrap;
}

/*---------animação da tag h1 - Habacuque Gosch -----------*/

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 9em;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }

    to {
        border-right-color: transparent;
    }
}

/* ---------fim da animação -----------*/


.profissao {
    color: #8aafac;
    font-weight: bold;
}

.butoes {
    display: flex;
    gap: 20px;
    margin-top: 5em;
}

.butoes a {
    text-decoration: none;
    background: rgba(91, 88, 104, 0.116);
    border: solid 1px rgba(255, 255, 255, 0.315);
    backdrop-filter: blur(7px);
    color: aliceblue;
    padding: 1em 3.5em;
    border-radius: 10px;
    transition: 1s;
}

.butoes a:hover {
    border: solid 1px rgba(28, 146, 182, 0.555);
    color: #4fa9c4;
}

/* ----------------------- Projetos ------------------- */

.projeto {
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 8%;
}

/*serve para o titulo de todas as section*/
.titulo-section {
    font-size: 2em;
    margin: 2em;

}

.linha {
    padding-bottom: 0.4em;
    border-bottom: solid 1px rgb(255, 255, 255);
}

.projetos-itens {
    display: flex;
    gap: 40px;
}

.projetos-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2em;
    border-radius: 5px;
    width: 25vw;
    border: solid 1px rgb(255, 255, 255);
}

.projetos-item h5 {
    font-size: 1.1em;
}

.descricao-projeto {
    color: #a8a8a8;
}

.usado {
    margin-top: -10px;
    color: #5bacdb;
    font-weight: 200;
}

.projetos-item a {
    text-decoration: none;
    color: #4fa9c4;
    transition: 0.5s;
}

.projetos-item a:hover {
    color: #19e48f;
}

/* ------------ Habilidades ---------------*/

.habilidades {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 8%;
}

.habilidades-itens {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.habilidade-item {
    display: flex;
    gap: 30px;
    align-items: center;
    width: 40%;
    border: solid 1px rgba(255, 255, 255, 0.527);
    border-left: solid 3px rgb(18, 141, 163);
    border-radius: 5px;
    padding: 1em 1.5em;
    text-align: center;
}

.python-item {
    width: 83%;
    background-color: #1248683d;
}

.habilidade-item h6 {
    font-size: 1em;
    font-weight: 600;
}

.habilidade-item img {
    margin-top: 1em;
    width: 3em;
}

.container-infos {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.nome-porcentagem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* barra d progresso*/
.container-barra {
    height: 16px;
    background-color: #CCC;
    position: relative;
    border-radius: 2px;
}

.container-barra .progress-bar {
    position: absolute;
    height: 100%;
    border-radius: 2px;
    background-color: #128b94;

}


.python {
    animation: progress-animation-python 2s infinite;
}

@keyframes progress-animation-python {
    0% {
        width: 0%;
    }

    100% {
        width: 80%
    }
}

.flask {
    animation: progress-animation-flask 2s infinite;
}

@keyframes progress-animation-flask {
    0% {
        width: 0%;
    }

    100% {
        width: 60%
    }
}

.customTkinker {
    animation: progress-animation-customThinker 2s infinite;
}

@keyframes progress-animation-customThinker {
    0% {
        width: 0%;
    }

    100% {
        width: 90%
    }
}

.selenium {
    animation: progress-animation-selenium 2s infinite;
}

@keyframes progress-animation-selenium {
    0% {
        width: 0%;
    }

    100% {
        width: 50%
    }
}

.pandas {
    animation: progress-animation-pandas 2s infinite;
}

@keyframes progress-animation-pandas {
    0% {
        width: 0%;
    }

    100% {
        width: 15%
    }
}


.scikitLearn {
    animation: progress-animation-scikitLearn 2s infinite;
}

@keyframes progress-animation-scikitLearn {
    0% {
        width: 0%;
    }

    100% {
        width: 20%
    }
}

.sqlite {
    animation: progress-animation-sqlite 2s infinite;
}

@keyframes progress-animation-sqlite {
    0% {
        width: 0%;
    }

    100% {
        width: 40%
    }
}


/* ------------------------------- Sobre mim ----------------------*/
.sobre {
    text-align: center;
    align-items: center;
    margin-bottom: 8%;
}

.container-sobre {
    background-size: cover;
    display: flex;
    flex-direction: row;
    padding: 2em;
    gap: 30px;
    border-radius: 14px;
    border: solid 1px white;
    margin: 0 15%;
    align-items: center;
    height: 100%;
}

.container-sobre img {
    border-radius: 14px;
    width: 50%;
    border: solid 2px #128b94;
}

.sobre-conteudo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

.sobre-conteudo p {
    text-align: justify;
}

.sobre-conteudo h3 {
    color: #25c7d3;
}


/* -----------------------Serviços --------------------*/

.servicos {
    text-align: center;
    margin-bottom: 8%;
    margin:  0 8%;
}

.servicos-itens {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 4em;
}

.servicos-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    width: 30vw;
    border: solid 1px rgba(255, 255, 255, 0.664);
    padding: 1.3em;
    text-align: left;
    transition: 0.8s;
}

.servicos-item:hover {
    border:solid 1px rgb(0, 175, 166);
    background-color: #031f2c7e;
}

.servicos-item img {
    width: 3em;
}

.servicos-item p {
    color: #a8a8a8;
}

.butao-entrar-contato {
    text-decoration: none;
    background: rgba(91, 88, 104, 0.116);
    border: solid 1px rgba(255, 255, 255, 0.315);
    backdrop-filter: blur(7px);
    color: aliceblue;
    padding: 1em 3.5em;
    border-radius: 10px;
    transition: 1s;
}

.butao-entrar-contato:hover {
    border: solid 1px rgba(28, 146, 182, 0.555);
    color: #4fa9c4;
}


