/** importando o CSS--------------*/
@import url('styles/header.css');
@import url('styles/banner.css');
@import url('styles/projetos.css');
@import url('styles/habilidades.css');
@import url('styles/servicos.css');
@import url('styles/sobre.css');
@import url('styles/contato.css');


/* importe da fonte-----------------*/
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #00060e;
    font-family: 'Archivo', sans-serif;
    color: aliceblue;
}

/* Scrollbar personalizada */

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: rgb(0, 1, 15);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(62, 180, 189);
    border-radius: 5px;
}

/* Botão voltar ao topo*/

.btn-fixed {
    position: fixed;
    bottom: 20px;
    right: 10px;
    visibility: hidden;
}

.btn-fixed.visible {
    visibility: visible;
}

.material-symbols-outlined {
    color: rgb(207, 222, 228);
    padding: 0.4em;
    border-radius: 5px;
    background-color: #031f2c;
}

/* ----------footer-----------*/

.footer {
    display: flex;
    justify-content: space-evenly;
    padding: 2em 4em;
    background-color: #031f2c;
    border-top: solid 1px white;
}


.minha-ref {
    text-decoration: none;
    color: rgb(100, 220, 250);
    font-weight: bold;
    transition: 0.5s;
}
.minha-ref:hover {
    color: #185fca;
}
