@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #02000e;
    font-family: 'Archivo', sans-serif;
    color: aliceblue;
}

/* Scrollbar personalizada */

body::-webkit-scrollbar {
    width: 12px;    
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(0, 1, 15);   
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(68, 170, 218);  
    border-radius: 5px;
  }


/* Cabecalho */

.back-foto {
     background: url(img/back-banner.png);
     background-position: center;
    background-size: cover;
    height: 100vh;
}
.logo {
    font-size: 1.3em;
    font-weight: bold;
    background: linear-gradient(90deg, #84CABD 16.84%, #2D7255 95.41%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cabecalho {
    display: flex;
    flex-direction: row;
    background: rgba(13, 13, 14, 0.466);
    align-items: center;
    justify-content: space-between;
    padding: 1.4% 5em;
    box-shadow: 0px 21px 21px #000000;
}

nav {
    display: flex;
    gap: 60px;
    margin-right: 5em;
}

.cabecalho a {
    text-decoration: none;
    color: rgb(196, 200, 204);
    transition: 0.5s;
    font-size: 1.1em;
}

.cabecalho a:hover {
    color: rgb(59, 180, 189);
}


/* ------------------  Banner  --------------*/

.banner {
    display: flex;
    align-items: center;
    height: 95vh;
}

.banner-conteudo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    margin-left: 5em;
}

.banner-conteudo h1 {
    border-right: 3px solid rgba(255, 255, 255, 0.75);
    font-size: 2.4em;
    animation: blinkCursor 1s steps(40) infinite normal, 
    typing 2.5s steps(40) 1s normal both;
    overflow: hidden;
    white-space: nowrap;
}

/*---------animação da tag h1 - Habacuque Gosch -----------*/

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 9em;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }

    to {
        border-right-color: transparent;
    }
}

/* ---------fim da animação -----------*/


.profissao {
    color: #8aafac;
    font-weight: bold;
}

.butoes {
    display: flex;
    gap: 20px;
    margin-top: 2em;
}
.butoes a {
    text-decoration: none;
    background: rgba(91, 88, 104, 0.116);
    border: solid 1px rgba(255, 255, 255, 0.315);
    backdrop-filter: blur(7px);
    color: aliceblue;
    padding: 1em 2em;
    border-radius: 10px;
    transition: 1s;
}

.butoes a:hover {
    border: solid 1px rgba(28, 146, 182, 0.555);
    color: #4fa9c4;
}